body {
  font-family: 'Rubik', sans-serif !important;
}

label {
  color: #fff;
}

.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-form-1 {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
  text-align: center;
  color: #333;
}

.login-form-2 {
  padding: 5%;
  background: #0062cc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3 {
  text-align: center;
  color: #fff;
}

.login-container form {
  padding: 10%;
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.login-form-1 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}

.login-form-1 {
  border-radius: 15px;
}

.login-form-1 input {
  border-radius: 15px;
}

.login-form-2 {
  border-radius: 15px;
}

.login-form-2 input {
  border-radius: 15px;
}

.login-form-2 .btnSubmit {
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}

.login-form-2 .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.login-form-1 .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}

.notice {
  animation: shake 1s;
  padding: 15px;
  background-color: #fafafa;
  border-left: 6px solid #7f7f84;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
}

.notice-sm {
  padding: 10px;
  font-size: 80%;
}

.notice-lg {
  padding: 35px;
  font-size: large;
}

.notice-success {
  border-color: #80D651;
}

.notice-success>strong {
  color: #80D651;
}

.notice-info {
  border-color: #45ABCD;
}

.notice-info>strong {
  color: #45ABCD;
}

.notice-warning {
  border-color: #FEAF20;
}

.notice-warning>strong {
  color: #FEAF20;
}

.notice-danger {
  border-color: #d73814;
}

.notice-danger>strong {
  color: #d73814;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  height: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100vh;
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px;
  /* Space for fixed navbar */
}

/*
 * Navbar
 */
.navbar {
  background: linear-gradient(250deg, #136a8a, #267871);
}

#mobileusr{
  display: none;
}

.btn-danger {
  border-radius: 30px !important;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.users {
  border-radius: 15px;
  background: #D9D9D9;
  margin: 8px;
  color: black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.users:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.avatar {
  position: relative;
  margin: 15px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.online-dot {
  position: absolute;
  margin-left: -29px;
  margin-top: 53px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #80D651;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.offline-dot {
  position: absolute;
  margin-left: -29px;
  margin-top: 53px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #d73814;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.message-bar {
  margin-left: -23px !important;
  width: 100%;
  background: linear-gradient(250deg, #136a8a, #267871);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
  bottom: 0;
  position: fixed;
  padding: 20px;
}

.message-bar input {
  display: inline-block;
  width: 70%;
  border-radius: 20px;
}

.message-bar button{
  display: inline-block;
  margin-left: 25px;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

main {
  background: #D9D9D9;
}

/* ext */
.inbox_msg {
  clear: both;
  height: 90%;
  overflow-y: auto;
  padding-bottom: 120px;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  min-width: 50%;
  overflow: auto;
}

strong {
  color: #646464;
}

.received_withd_msg p {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  color: #646464;
  margin: 0;
  padding: 15px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg {
  max-width: 47%;
  width: auto;
  float: left;
  overflow: auto;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
}

.sent_msg p {
  background: linear-gradient(250deg, #136a8a, #267871);
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: 0;
  color: #fff;
  padding: 15px;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.sent_msg {
  max-width: 40%;
  float: right;
  width: auto;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

#send {
  border-radius: 51%;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.30), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-circle {
  border-radius: 50%;
}

.text-account {
  color: #646464;
}

.account-container {
  background: #D9D9D9;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.jumbotron {
  background: #fff !important;
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.alert {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

div#wave {
  position: fixed;
  bottom: 4px;
  text-align: center;
  width: 200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto; 
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
  background: linear-gradient(250deg, #136a8a, #267871);
  animation: wave 1.3s linear infinite;
}

#wave.user{
  background: #333;
  display: inline-block;
  margin-left: 0px;
}

.dot:nth-child(2) {
  animation-delay: -1.1s;
}

.dot:nth-child(3) {
  animation-delay: -0.9s;
}

@keyframes wave {

  0%,
  60%,
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-15px);
  }
}

.top-active-chat{
  display: none;
}

@media screen and (max-width: 800px) {
  .top-active-chat{
    display: block;
  }

  main{
    min-height: 100vh;
  }

  .navbar{
    width: 100%;
  }

  #mobileusr{
    display: block;
    color: rgba(255,255,255,.5);
  }

  .btn-modal-close{
    position: absolute;
    z-index: 99999;
    top:0;
    right:0;
    color: red !important;
  }

  .nav-link{
    text-align: center;
  }

  .outgoing_msg {
    margin: 0px -13px 0px;
  }

  .received_withd_msg {
    max-width: 100%;
  }

  .incoming_msg{
    margin: 0px 0px 0px -33px !important;
  }

  .sent_msg{
    max-width: 100%;
  }

  .btn-danger{
    width: 100%;
  }

  .message-bar input{
    width: 75%;
    display: inline-block;
  }
}